/*Robot Slab,serif*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap'); 


:root{
    --nav_clr: #374151;
    --primary_clr: #F9FAFB;
    --secondary_clr: #EAB308;
    --font: Roboto Slab,serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--nav_clr);

}

@media (max-width:1100px) {
    body{

        max-width: 80%;
        width: 100%;
        margin: auto;
    }
   
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.navigation{
    background-color: var(--nav_clr);
    display: flex;
    justify-content: space-between;
    font-family: var(--font);
    margin: 0rem 2rem;
}

.nav__heading a{
    color: var(--primary_clr);
    text-decoration: none;
}

.nav__flexcontainer{
    display: flex;
    list-style: none;
    color: var(--primary_clr);
  
}

.nav__flexitem a{
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--primary_clr);
    
}

.nav__flexitem a:hover{
    color: var(--secondary_clr);
}


.header__img{
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 5rem;
    
}

.header__intro{
    color: var(--primary_clr);
    text-align: center;
    font-family: var(--font);
    font-size: 1.3rem;
    margin-top: 2rem;
}

.header__highlight{
    color: var(--secondary_clr);

}

.content{
    
    /* padding: 0rem 2rem;
    margin: 0rem 2rem; */
    max-width: 60rem;
    margin: auto;
    /* margin-top: 4%; */
    scroll-behavior: smooth;
    padding-top: 3%;
}



.content__head{
    text-decoration: none;
    color: var(--primary_clr);
    text-align: center;
    font-family: var(--font);
    font-size: 1.3rem;
}



.content__text{
    color: var(--primary_clr);
    text-align: justify;
    font-family: var(--font);
    font-size: 1rem;
    /* padding: 1rem 25rem 1rem; */
}

.social{
    list-style: none;
    display: flex;
    justify-content: center;   
    
}

.social__links{
    padding: 1.2rem;
    
}

.social__img{
    height: 100%;
    width: 50%;
    margin: auto;
}

.social__img:hover{
animation-name: lefty;
animation-duration: 1s;
} 

@keyframes lefty{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-45deg);
        
    }
    50%{
        transform: rotate(45deg);
    }
}

.scrollup {
    position: fixed;
    bottom: 2rem;
    height: 5%;
    width: 5%;
    margin-left: 93%;
}

section{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4em;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #888;

}

